# Environment files
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log
yarn-error.log
dist/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.project
.classpath
.c9/
*.launch
.settings/

# Maven
target/
*.iml
.mvn/

# Docker
.docker/
volumes/

# Logs
logs/
*.log
